{% extends 'base.html' %}

{% block content %}
    <form method='GET' id="find_form">
        <select id='select_city' style='width: 200px;' class="select2">
        </select>
        <button type="submit" id='find' class="btn btn-primary" disabled>Find</button>
    </form>
    <hr>
    <div id="result">

    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            let selected_option = null;
            $("#select_city").select2({
                placeholder: "Select a City",
                allowClear: true,
                minimumInputLength: 2,
                ajax: {
                    url: '{% url 'get_city' %}',
                    type: 'GET',
                    dataType: 'json',
                    quietMillis: 500,
                    data: function (term, page) {
                        return {
                            q: term,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data.items, function (val, id) {
                                return {id: id, text: val}
                            })
                        };
                    },
                }
            });

            $("#select_city").on('select2:select', function (event) {
                selected_option = $(event.currentTarget).find("option:selected").val();
                document.getElementById("find").disabled = false;
                console.log(selected_option);
            });
            $("#select_city").on('select2:unselecting', function (event) {
                selected_option = null;
                document.getElementById("find").disabled = true;
                console.log(selected_option);
            });

            let draw_result = function (el, data) {
                $(el).empty();
                $(el).append(data);
            };
            $('#find_form').on('submit', function (e) {
                e.preventDefault();
                if (selected_option) {
                    $.ajax({
                        url:'{% url 'home_page' %}',
                        type: 'GET',
                        data: {'city': selected_option},
                        success: function (data) {
                            console.log(data);
                            draw_result($('#result'), JSON.stringify(data));
                        }
                    });
                } else {
                    alert('No selected City!')
                }
            });

        });
    </script>
{% endblock %}
